doctype html
html(lang="en")
    head
        title Curousel
        meta(charts='utf-8')
        meta(http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1")
        script(src="jquery.js")
        script(src="ie.js")
    body
        div#main
            script(src="index.js")
